html {
  scroll-behavior: smooth;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(24, 24, 75);
    color: 

  }
  
  h1 {
    margin-top: 0;
    font-weight:900;
    font-size:xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFC000;
    display: flex;
    align-items: flex-start;

  }
  
  /* Header Styles */
  header {
    background-image: url(headerphoto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
    padding: 10px;
    color: #fdfcfc;
    text-align: center;
  }
  
  /* Navigation Styles */
  nav {
    margin-bottom: 20px;
    display: flex;
  }
  
  .navbar ul {
    list-style: none;
    padding: 2px;
    display: flex;
    justify-content:flex-start;
  }
  
  .navbar li {
    margin-right: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-weight: 600;
    text-decoration:solid;
  
  }
  
  .navbar a {
    color: #333;
    text-decoration: none;
    padding: 3px 15px;
    border-radius: 3px;
    background-color: #6c8fd9;
    transition: background-color 0.3s ease;
  }
  
  .navbar a:hover {
    background-color: #f886c4;
    color: #fff;
  }
  
  /* Main Content Styles */
  main {
    padding: 20px;
  
  }
  
  /* Flash messages container */
  .flashes {
    display: block;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: auto auto 20px auto;
    pointer-events: none; /* Disable the hover effect */
  }
  
  /* Flash message */
  .flashes li {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    color: #300505;
    background-color:#FFC000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
  }
  
  /* List styling */
  ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  li {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .post-meta {
    flex-grow: 1;
    margin-top: -20px;
    font: italic 14px/1.4 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background-color: #f5f5f5;
  }
  
  .post-content {
    flex-grow: 1;
    margin-bottom: 10px;
    white-space: pre-wrap; /* Preserve line breaks */
  }
  
  /* Form Styles */
  form {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-gap: 10px;
    
  }
  
  input[type="text"],
  input[type="password"],
  textarea {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
  }
  
  textarea {
    height: 10em;
    resize: vertical;

  }
  
  input[type="text"]:focus,
  input[type="password"]:focus,
  textarea:focus {
    outline: none;
    border-color: #007bff;
  }
  
  button {
    padding: 8px 15px;
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #fd7e14;
  }
  
  /* Post Styles */
  p {
    margin-bottom: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  }
  
  /* Edit Styles */
  button[type="submit"] {
    background-color:#FFC000;
    font-weight: 600;
    color:#300505;
    padding-block: 8px;
  }
  
  button[type="submit"]:hover {
    background-color:#f886c4;
    color:#300505;
  }
  
  button[type="submit"].danger {
    background-color: #dc3545;
  }
  
  button[type="submit"].danger:hover {
    background-color: #a13b45;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    body {
      font-size: 14px;
    }
  
    /* Example: Adjust the layout or styles of specific elements */
    form {
      margin-bottom: 10px;
    }
  }